<ul>
  <% directions.each(function(direction) { %>
    <% var directionId = direction.get('id'); %>
    <li class="direction_name" agency_id="<%= agencyId %>" route_id="<%= routeId %>" direction_id="<%= directionId %>" id="direction_<%= directionId %>"><%= direction.get('name') %></li>
  <% }); %>
</ul>