<ul>
  <% stops.each(function(stop) { %>
    <% var stopId = stop.get('id'); %>
    <li class="stop_name" agency_id="<%= agencyId %>" route_id="<%= routeId %>" direction_id="<%= directionId %>" stop_id="<%= stopId %>" id="stop_<%= stopId %>"><%= stop.get('name') %></li>
  <% }); %>
</ul>